body{
    font-family: 'Lato', sans-serif;
    background-color: white;
    margin:0px;
    
}

a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

a:hover{
    font-size: 1.1em;
    color:#ff8000
}


.encabezado{
    color:#EAE6CA;
    font-size: 1.5rem;
    font-weight: 900;
    padding: 20px;
    padding-top:110px;
    margin-top: -100px;
    background-color: #013171;
    width:180px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.encabezado a{
    text-decoration: none;
    color: #EAE6CA;
}

