footer{
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #013171;
    color:#EAE6CA;
    padding: 10px 30px;
    margin-bottom: -20px;
}

footer > .left_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
}

footer a{
    text-decoration: none;
    color:#EAE6CA;
    transition: 0.5s;
}

footer a:hover{
    font-size: 1.2em;
}



footer i{
    font-size: 1.5em;
    padding:5px;
}

footer > .central_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer > .right_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding:20px
}

footer > .central_wrapper > .copy{
    text-align: center;
}



