@media (max-width: 615px){
    h2 {
        text-align: center;
    }
    .arriba {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: max-content;
        position: unset;

    }
    .arriba nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #sobre_mi{
        height: inherit;
        padding: 0px;
        background-position-y: -100px;
    }
    
    #sobre_mi > .presentacion{
        display: flex;
        padding: 0px;
        margin: 40px;
    }

    #cv {
        height: 400px;
    }

    #cv > .areas_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 95%;
    }

    #artículos {
        height: max-content;
        background-size: cover;
        align-items: center;
    }

    .encabezado {
        height: max-content;
        background-size: cover;
        padding-top: 20px;
    }
    
    .expansión:target >.contenido > .previous {
        left:3%;
        font-size: 2em;
        color: #013171;
        background-color: orangered;
        padding: 2px;
        border-radius: 15px;
    }

    .expansión:target >.contenido > .next {
        right:3%;
        font-size: 2em;
        color: #013171;
        background-color: orangered;
        padding: 2px;
        border-radius: 15px;
    }

    .expansión:target >.contenido > .exit_btn {
        color: #013171;
        background-color: orangered;
        padding: 5px;
        border-radius: 15px;
    }

    .expansión:target .contenido p{
        padding: 10px
    }

    .expansión:target .contenido > .text >.{
        padding: 10px
    }


    .target_recursos > .contenido_recursos >.next{
        right:1%;
        font-size: 3em;
        color: #013171;
        background-color: orangered;
    }

    .target_recursos > .contenido_recursos >.previous{
        left: 1%;
        font-size: 3em;
        color: #013171;
        background-color: orangered;
    }

    .target_recursos > .contenido_recursos > .exit_btn{
        color: #013171;
        background-color: orangered;
    }

    .target_recursos > .contenido_recursos > .text p{
        margin: 10px
    }

        #artículos > .art_filtro {
        visibility: hidden;
        margin-top: -50px;
    }

    #artículos > .posts {
        display: flex;
        flex-direction: column;
        width:80%;
    }

    #artículos > .posts > .post {
        width:100%;
        padding: 20px 10px;
    }

    #artículos > .posts > .post p{
        padding: 20px 10px;
    }

    .titulo_area h1 {
        color: white;
        /* font-size: 1.5rem; */
        display: flex;
        justify-content: center;
        margin: 20px;
        text-align: center;
        font-size: 1.5em;
    }

    .titulo_area h2 {
        font-size: 1em;
    }

    #recursos{
        height: 800px;
        align-items: center;
    }

    #recursos > .posts {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }

    #recursos > .posts > .container {
        height: 90%;
    }

    
    #contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: max-content;
    }

    #contacto > .page_contain > .grid_wrapper{
        display: flex;
        flex-direction: column;
    }

    #contacto > .page_contain > .grid_wrapper >.left-wrapper {
        order: 2;
        width: 80%;
    }

    #contacto > .page_contain > .grid_wrapper >.left-wrapper img{
        visibility: hidden;
        height: 10px;
    }

    footer {
        height: fit-content;
    }
}