#recursos{
    height: 400px;
    background-color:#DBDBDB;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    padding-top:100px;

}

/*[Filtro para cuando haya más contenido] #recursos > .art_filtro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

#recursos > .art_filtro a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 900;
    transition: 0.5s;
}

#recursos > .art_filtro a:hover{
    text-decoration: none;
    color: #ff8000;
    letter-spacing: 1px;
    font-size: 1.2em;
}

#recursos > .art_filtro a:focus{
    text-decoration: none;
    color: #ff8000;
    letter-spacing: 1px;
    font-size: 1.2em;
}*/

#recursos > .posts {
    margin: 20px;
    display: flex;
    justify-content: space-around ;
    align-items: center;   
    height: 100%;
    min-width: 270px;
}

#recursos > .posts > .container {
display: flex;
flex-direction: column;
align-items: center;
width:28%;
max-width: 680px;
height: 100%;
margin: 20px;
border-radius: 40px;
z-index: 0;
}

#recursos > .posts > .container:nth-child(1) {
background-color: #4472C4;

}

#recursos > .posts > .container:nth-child(2) {
    background-color: #EF4035;
}

#recursos > .posts > .container:nth-child(3) {
    background-color: #35F082;
}

.container{
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    min-width:270px ;

}

.bg_video{
    z-index: 1;
    position: absolute;
    top:0;
    left:0;
    height: 70%;
    
}

#recursos > .posts > .container > .cat{
    z-index: 2;
    font-size: 1.5rem;
    position: absolute;
    top:0%;
    color: white;
    font-weight: bold;
    background-color: rgba(1, 49, 113, 0.8);
    padding:3px 10px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#recursos > .posts > .container > .rec{
    z-index: 2;
    display: flex;
    position: absolute;
    top: 70%;
    padding: 7px 15px;
    font-size: 1.5em;
    text-align: center;
    color: white;
}
