.expansión {
    position: absolute; 
    top: 0%;
    color:black;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expansión:target{
    position: fixed;
    visibility: visible;
    z-index: 100;
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    
}

.expansión:target .contenido{
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    overflow: scroll;
    overflow-x: hidden;
}

.expansión:target .contenido > .img{
    width: inherit;
    height: 120px;
    position: fixed;
    border-top-left-radius: 15px;
    z-index: 80;
}


#formación:target .contenido > .img{
    background: white;
    background-image: url(../Imagenes/aaaa.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 200px 200px 300px 200px rgba(47,41,240,0.75);
}

#profesional:target .contenido > .img{
    background: #EF4035;
    background-image: url(../Imagenes/Profesional.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 200px 200px 300px 200px rgba(239,64,53,0.75);}

#aficiones:target .contenido > .img{
    background: #F0D44D;
    background-image: url(../Imagenes/Bici.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 200px 200px 300px 200px rgba(240,212,77,0.79);
}

#objetivos:target .contenido > .img{
    background: #35F082;
    background-image: url(../Imagenes/Objetivos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 200px 200px 300px 200px rgba(53,240,130,0.75);
}

.expansión:target .contenido > .img > .cv_areas{
    box-sizing: border-box;
    display: flex;
    width: 196px;
}

.expansión:target .contenido > .img > .cv_areas a{
    box-sizing: border-box;
    color:white;
    justify-self:center;
    padding: 10px;
    font-size: 1.5em;
    width:50px;
    text-align: center;
}

.expansión:target .contenido > .img > .cv_areas a:nth-child(1){
    background-color: #2F29F0;
}

.expansión:target .contenido > .img > .cv_areas a:nth-child(2){
    background-color: #EF4035;
}

.expansión:target .contenido > .img > .cv_areas a:nth-child(3){
    background-color: #F0D44D;
}

.expansión:target .contenido > .img > .cv_areas a:nth-child(4){
    background-color: #35F082;
}

.expansión:target .contenido p{
    position: relative;
    box-sizing: border-box;
    text-align: justify;
    line-height: 25px;
    margin-bottom: 0px;
    padding:10px 80px;
    height: 5rem;
    width: 100%;
    height: 100%;
}


.expansión:target .contenido > .text > .list{
    position: relative;
    box-sizing: border-box;
    text-align: justify;
    line-height: 25px;
    margin-bottom: 0px;
    padding:10px 80px;
    height: 5rem;
    width: 100%;
    height: 100%;
}

.expansión:target .contenido > .exit_btn{
    font-size: 20px;
    position: fixed;
    box-sizing: border-box;
    top:10%;
    right: 12%;
    font-weight: 900;
    z-index: 90;
    margin: 10px;
    transition: 0.5s;
    color:orangered;
    background-color: #013171;
    padding: 5px;
    border-radius: 15px;
}

.expansión:target .contenido > .exit_btn:hover{
    color:#ff8000;
    font-size: 1.5em;
}

.expansión:target .contenido > .next{
    color:orangered;
    background-color: #013171;
    border-radius: 15px;
    position: fixed;
    right: 11%;
    top: 50%;
    font-size: 3rem;
    transition: 0.5s;
    z-index: 90;
}


.expansión:target .contenido > .previous{
    position: fixed;
    left: 10%;
    top: 50%;
    font-size: 3rem;
    transition: 0.5s;
    color:orangered;
    background-color: #013171;
    border-radius: 15px;
}

.expansión:target .contenido > .next:hover{
    font-size: 4rem
}

.expansión:target .contenido > .previous:hover{
    font-size: 4rem
}

.contenido{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;;
    
}

.titulo_area h1{
    color:white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin:20px
}

.titulo_area h2{
    color:white;
    display: flex;
    justify-content: center;
    margin:20px
}

.publicaciones > .contenido > .img{
    background-position: center;
    background-size: cover;
}

.publicaciones:nth-child(1) > .contenido > .img{
    background-image: url(../Imagenes/Post_1.jpg);
}
   
.publicaciones:nth-child(2) > .contenido > .img{
    background-image: url(../Imagenes/Post_2.jpg);
}

.publicaciones:nth-child(3) .contenido > .img{
    background-image: url(../Imagenes/Post_3.jpg)
}
