#sobre_mi{
    height: 500px;
    background-image:URL("../Imagenes/La\ foto.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    padding:20px 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index:0;
}

#sobre_mi > .presentacion {
    background-color:#F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1px;
    padding:10px 30px;
    border-radius: 10px;
    opacity: 0.5;
}

.presentacion > p{
    display: flex;
    font-weight: 900;
    font-size: 1;
    line-height: normal;
    text-align: center;
}

